<!DOCTYPE html>
<html lang="en">
  <head>
    <title>find the expert</title>
    <meta property="og:title" content="find the expert" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearances: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="shortcut icon"
      href="static/home/public/playground_assets/find the expert logo final.svg"
      type="static/home/icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="/static/home/home.css" />
  </head>
  <body>
    <div>
      <link href="./static/home.css" rel="stylesheet" />

      <div class="home-container">
        <div class="home-destop">
          <div class="home-navbar">
            <img
              alt="FindtheExpertLOGOFinal11723"
              src="static/home/public/playground_assets/findtheexpertlogofinal11723-xmt8-200h.png"
              class="home-findthe-expert-log-final1"
            />
           <div class="home-frame3-li">
              <ol>
                <li><a href="search.html">Find a Mentor</a></li>
                <li><a href="profile.html">Become a Mentor</a></li>
                <li><a href="#">About us</a></li>

              </ol>
            </div>
            <div class="home-frame4">
              <div class="home-search">
                <img
                  alt="iconsearchsvg1724"
                  src="static/home/public/playground_assets/iconsearchsvg1724-8e5l.svg"
                  class="home-iconsearchsvg"
                />
                <div class="home-input">
                  <div class="home-divplaceholder">
                    <div class="home-text006"><input type="text" placeholder="seach.."></span></div>
                  </div>
                </div>
              </div>
              <div class="home-frame2">
                <div class="home-text008">
                  <button type="button"><a href="/login.html">Logout</a></button>
               <a href="/login/firebasecode.txt"></a>
                </div>
              </div>
          </div>
          </div>
          <div class="home-desktop3">
            <span class="home-text010">
              <span>
                <span>Discover expert</span>
                <br />
                <span>who mastered the skill .</span>
              </span>
            </span>
            <div class="home-group13">
              <img
                alt="Ellipse11725"
                src="static/home/public/playground_assets/ellipse11725-ung-200h.png"
                class="home-ellipse1"
              />
              <img
                alt="Ellipse21725"
                src="static/home/public/playground_assets/ellipse21725-zvqf-200h.png"
                class="home-ellipse2"
              />
              <img
                alt="Ellipse41725"
                src="static/home/public/playground_assets/ellipse41725-8ku-200h.png"
                class="home-ellipse4"
              />
              <img
                alt="Ellipse31726"
                src="static/home/public/playground_assets/ellipse31726-pewjp-200h.png"
                class="home-ellipse3"
              />
            </div>
            <div class="home-group14">
              <img
                alt="Ellipse51726"
                src="static/home/public/playground_assets/ellipse51726-8kc9-200h.png"
                class="home-ellipse5"
              />
              <img
                alt="Ellipse61726"
                src="static/home/public/playground_assets/ellipse61726-p3z7-200h.png"
                class="home-ellipse6"
              />
              <img
                alt="Ellipse71726"
                src="static/home/public/playground_assets/ellipse71726-ec4-200h.png"
                class="home-ellipse7"
              />
              <img
                alt="Ellipse81726"
                src="static/home/public/playground_assets/ellipse81726-xfy5-200h.png"
                class="home-ellipse8"
              />
            </div>
            <span class="home-text015">
              <span>
                Find the expert across the different Categories who is proficient in 
                their domain.  
              </span>
            </span>
          </div>
          <div class="home-frame16">
            <div class="home-frame15">
              <span class="home-text017">
                <span>Experts from top companies</span>
              </span>
            </div>
            <div class="home-component3">
              <div class="home-frame9">
                <img
                  alt="FacebookpngI172"
                  src="static/home/public/playground_assets/facebookpngi172-qeyq-200h.png"
                  class="home-facebookpng"
                />
                <img
                  alt="Bookingcompng0I172"
                  src="static/home/public/playground_assets/bookingcompng0i172-0ipv-200h.png"
                  class="home-bookingcompng0"
                />
                <img
                  alt="GooglepngI172"
                  src="static/home/public/playground_assets/googlepngi172-7u7-200h.png"
                  class="home-googlepng"
                />
                <img
                  alt="Figmapng0I172"
                  src="static/home/public/playground_assets/figmapng0i172-uitd-200h.png"
                  class="home-figmapng0"
                />
                <img
                  alt="StripepngI172"
                  src="static/home/public/playground_assets/stripepngi172-49y-200h.png"
                  class="home-stripepng"
                />
                <img
                  alt="CitipngI172"
                  src="static/home/public/playground_assets/citipngi172-9haxm-200h.png"
                  class="home-citipng"
                />
                <img
                  alt="SpotifypngI172"
                  src="static/home/public/playground_assets/spotifypngi172-zc7o-200h.png"
                  class="home-spotifypng"
                />
                <img
                  alt="trivagopng0I172"
                  src="static/home/public/playground_assets/trivagopng0i172-24jp-200h.png"
                  class="home-trivagopng0"
                />
              </div>
            </div>
          </div>
          <div class="home-explore">
            <div class="home-group15">
              <div class="home-programming">
                <img
                  alt="ProgrammingFlag1727"
                  src="static/home/public/playground_assets/programmingflag1727-xiar-200w.png"
                  class="home-programming-flag"
                />
                <span class="home-text019">
                  <a href="/">Programming Language</a>
                </span>
                <span class="home-text021"><span>290 Experts</span></span>
              </div>
              <div class="home-software">
                <img
                  alt="Rectangle101727"
                  src="static/home/public/playground_assets/rectangle101727-qbom-200h.png"
                  class="home-rectangle10"
                />
                <span class="home-text023">
                  <a href="/">Software Development</a>
                </span>
                <span class="home-text025"><span>300 Experts</span></span>
                <img
                  alt="CodeFile1728"
                  src="static/home/public/playground_assets/codefile1728-1yc-200h.png"
                  class="home-code-file"
                />
              </div>
              <div class="home-software1">
                <span class="home-text027"><a href="/">Career guidance</a></span>
                <span class="home-text029"><span>20 Experts</span></span>
                <img
                  alt="CodeFile1728"
                  src="static/home/public/playground_assets/codefile1728-cb09-200h.png"
                  class="home-code-file1"
                />
              </div>
              <div class="home-personal">
                <img
                  alt="Rectangle101728"
                  src="static/home/public/playground_assets/rectangle101728-gb0e-200h.png"
                  class="home-rectangle101"
                />
                <span class="home-text031">
                  <a href="/">Personal Development</a>
                </span>
                <span class="home-text033"><span>230 Experts</span></span>
                <img
                  alt="Launchpad1729"
                  src="static/home/public/playground_assets/launchpad1729-aydk-200h.png"
                  class="home-launchpad"
                />
              </div>
              <div class="home-ds">
                <span class="home-text035"><a href="/">Data Structure</a></span>
                <span class="home-text037"><span>260 Experts</span></span>
                <img
                  alt="DatabaseAdministrator1729"
                  src="static/home/public/playground_assets/databaseadministrator1729-3mga-200h.png"
                  class="home-database-administrator"
                />
              </div>
              <div class="home-ss">
                <span class="home-text039"><a href="/">Soft Skills</a></span>
                <span class="home-text041"><span>120 Experts</span></span>
                <img
                  alt="StormLady1730"
                  src="static/home/public/playground_assets/stormlady1730-0bnd-200h.png"
                  class="home-storm-lady"
                />
              </div>
              <div class="home-cs">
                <span class="home-text043"><a href="/">Cyber Security</a></span>
                <span class="home-text045"><span>160 Experts</span></span>
                <img
                  alt="CyberSecurity1730"
                  src="static/home/public/playground_assets/cybersecurity1730-08al-200h.png"
                  class="home-cyber-security"
                />
              </div>
            </div>
            <span class="home-text047">
              <span>Find Experts from different fields</span>
            </span>
            <div class="home-frame17">
              <span class="home-text049"><a href="search.html">Explore Categories</a></span>
            </div>
          </div>
          <div class="home-desktop4">
            <img
              alt="Ellipse131731"
              src="static/home/public/playground_assets/ellipse131731-pjw-500h.png"
              class="home-ellipse13"
            />
            <span class="home-text051">
              <span>Improve your students skill From the top expert</span>
            </span>
            <span class="home-text053">
              <span>Struggling to find resourse person?</span>
            </span>
            <span class="home-text055">
              <span>
                Network with industry professionals and book a session
              </span>
            </span>
            <span class="home-text057">
              <span>
                Improving your skills from a beginner to an expert level takes time, dedication and practice. 
                Guidance from experts in the field and learning from their experiences will be helpful.
              </span>
            </span>
            <span class="home-text059">
              <span>
                You can able to sort mentor by experience, level etc. This makes
                user friendly,flexible and legitic.
              </span>
            </span>
            <span class="home-text061">
              <span>
                This is the platform to find your expert.You are in the right place!
                Get more connections with professionals and utilize it.
              </span>
            </span>
            <img
              alt="youngmanholdingpapermap1731"
              src="static/home/public/playground_assets/youngmanholdingpapermap1731-atq9-300w.png"
              class="home-youngmanholdingpapermap"
            />
            <img
              alt="graduategirlwithlaptopholdingdiploma1732"
              src="static/home/public/playground_assets/graduategirlwithlaptopholdingdiploma1732-4top-500w.png"
              class="home-graduategirlwithlaptopholdingdiploma"
            />
            <img
              alt="IMAGEolleaguesdiscussingteamproject1732"
              src="static/home/public/playground_assets/imageolleaguesdiscussingteamproject1732-dyu-400h.png"
              class="home-ima-eolleaguesdiscussingteamproject"
            />
            <img
              alt="Rectangle121732"
              src="static/home/public/playground_assets/rectangle121732-ljf8-800w.png"
              class="home-rectangle12"
            />
            <img
              alt="Rectangle131732"
              src="static/home/public/playground_assets/rectangle131732-hgvl-800w.png"
              class="home-rectangle13"
            />
            <img
              alt="Rectangle141732"
              src="static/home/public/playground_assets/rectangle141732-dj2v-900w.png"
              class="home-rectangle14"
            />
            <img
              alt="Ellipse121732"
              src="static/home/public/playground_assets/ellipse121732-hb7v-500h.png"
              class="home-ellipse12"
            />
            <img
              alt="Ellipse111732"
              src="static/home/public/playground_assets/ellipse111732-p4y9-500w.png"
              class="home-ellipse11"
            />
            <img
              alt="Ellipse91732"
              src="static/home/public/playground_assets/ellipse91732-3b2-200h.png"
              class="home-ellipse9"
            />
          </div>
          <div class="home-desktop5">
            <span class="home-text063">
              <span>What our customers say about us</span>
            </span>
            <div class="home-frame18">
              <span class="home-text065"><span>Suresh kumar</span></span>
              <img
                alt="Ellipse141733"
                src="static/home/public/playground_assets/ellipse141733-o08-200h.png"
                class="home-ellipse14"
              />
              <span class="home-text067">
                <span>Placement team , SECE</span>
              </span>
              <span class="home-text069">
                <span>
                  <span>Find the expert is a great platform</span>
                  <br />
                  <span>where I got many expert for my students</span>
                </span>
              </span>
              <span class="home-text074">❝</span>
              <div class="home-group16">
                <img
                  alt="Vector1733"
                  src="static/home/public/playground_assets/vector1733-bwo.svg"
                  class="home-vector"
                />
                <img
                  alt="Vector1733"
                  src="static/home/public/playground_assets/vector1733-eoai.svg"
                  class="home-vector01"
                />
                <img
                  alt="Vector1733"
                  src="static/home/public/playground_assets/vector1733-9wb8.svg"
                  class="home-vector02"
                />
                <img
                  alt="Vector1734"
                  src="static/home/public/playground_assets/vector1734-fw47.svg"
                  class="home-vector03"
                />
              </div>
            </div>
            <div class="home-frame19">
              <span class="home-text075"><span>Sanjay kumar</span></span>
              <img
                alt="Ellipse141734"
                src="static/home/public/playground_assets/ellipse141734-5r98-200h.png"
                class="home-ellipse141"
              />
              <span class="home-text077">
                <span>Placement team , SKCT</span>
              </span>
              <span class="home-text079">
                <span>
                  <span>Find the expert is a great platform</span>
                  <br />
                  <span>where I got many expert for my students</span>
                </span>
              </span>
              <span class="home-text084">❝</span>
              <div class="home-group161">
                <img
                  alt="Vector1734"
                  src="static/home/public/playground_assets/vector1734-2rug.svg"
                  class="home-vector04"
                />
                <img
                  alt="Vector1734"
                  src="static/home/public/playground_assets/vector1734-lpq.svg"
                  class="home-vector05"
                />
                <img
                  alt="Vector1735"
                  src="static/home/public/playground_assets/vector1735-i208.svg"
                  class="home-vector06"
                />
                <img
                  alt="Vector1735"
                  src="static/home/public/playground_assets/vector1735-d65a.svg"
                  class="home-vector07"
                />
              </div>
            </div>
            <div class="home-frame20">
              <span class="home-text085"><span>Vivek kumar</span></span>
              <img
                alt="Ellipse141735"
                src="static/home/public/playground_assets/ellipse141735-7hr-200h.png"
                class="home-ellipse142"
              />
              <span class="home-text087">
                <span>Placement team , CET</span>
              </span>
              <span class="home-text089">
                <span>
                  <span>Find the expert is a great platform</span>
                  <br />
                  <span>where I got many expert for my students</span>
                </span>
              </span>
              <span class="home-text094">❝</span>
              <div class="home-group162">
                <img
                  alt="Vector1735"
                  src="static/home/public/playground_assets/vector1735-lwm.svg"
                  class="home-vector08"
                />
                <img
                  alt="Vector1736"
                  src="static/home/public/playground_assets/vector1736-gm0s.svg"
                  class="home-vector09"
                />
                <img
                  alt="Vector1736"
                  src="static/home/public/playground_assets/vector1736-nkka.svg"
                  class="home-vector10"
                />
                <img
                  alt="Vector1736"
                  src="static/home/public/playground_assets/vector1736-fxcc.svg"
                  class="home-vector11"
                />
              </div>
            </div>
          </div>
          <div class="home-frame21">
            <img
              alt="image21736"
              src="static/home/public/playground_assets/image21736-0vnd-200h.png"
              class="home-image2"
            />
            <span class="home-text095">
              <span>
                Our goal is to fulfill the customers needs by making them
                satisfied.
              </span>
            </span>
            <div class="home-frame26">
              <div class="home-frame23">
                <span class="home-text097"><span>About</span></span>
                <div class="home-frame22">
                  <span class="home-text099"><a href="/">About us</a></span>
                  <span class="home-text101"><a href="/">Features</a></span>
                  <span class="home-text103"><a href="/">Careers</a></span>
                </div>
              </div>
              <div class="home-frame24">
                <span class="home-text105"><span>Company</span></span>
                <div class="home-frame221">
                  <span class="home-text107"><a href="/">Our Team</a></span>
                  <span class="home-text109"><a href="/">FAQ</a></span>
                  <span class="home-text111"><a href="/">Blog</a></span>
                </div>
              </div>
              <div class="home-frame25">
                <span class="home-text113"><span>Support</span></span>
                <div class="home-frame222">
                  <span class="home-text115"><a href="/">Contact us</a></span>
                  <span class="home-text117"><a href="/">Feedback</a></span>
                  <span class="home-text119"><a href="/">Support center</a></span>
                </div>
              </div>
            </div>
            <span class="home-text121"><span>Links</span></span>
            <img
              alt="Rectangle151738"
              src="static/home/public/playground_assets/rectangle151738-40sl-200h.png"
              
                class="home-rectangle15"
            />
            <span class="home-text123">
              <span>Copyright ,Find The Expert 2023, All rights reserved.</span>
            </span>
            <div class="home-socialicons">
              <div class="home-frameicon-instagram">
                <img
                  alt="Vector1739"
                  src="static/home/public/playground_assets/vector1739-7ds.svg"
                  class="home-vector12"
                />
                <img
                  alt="Vector1739"
                  src="static/home/public/playground_assets/vector1739-ywts.svg"
                  class="home-vector13"
                />
              </div>
              <div class="home-frameicon-twitter">
                <img
                  alt="Vector1739"
                  src="static/home/public/playground_assets/vector1739-uyzp.svg"
                  class="home-vector14"
                />
                <img
                  alt="Vector1739"
                  src="static/home/public/playground_assets/vector1739-cym.svg"
                  class="home-vector15"
                />
              </div>
              <div class="home-frameicon-linkedin">
                <img
                  alt="Vector1739"
                  src="static/home/public/playground_assets/vector1739-4c2k.svg"
                  class="home-vector16"
                />
                <img
                  alt="Vector1739"
                  src="static/home/public/playground_assets/vector1739-bmzd8.svg"
                  class="home-vector17"
                />
              </div>
              <div class="home-frameicon-facebookv1">
                <img
                  alt="Vector1739"
                  src="static/home/public/playground_assets/vector1739-xic.svg"
                  class="home-vector18"
                />
                <img
                  alt="Vector1740"
                  src="static/home/public/playground_assets/vector1740-fytn.svg"
                  class="home-vector19"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
