<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Main profile</title> 
    <link rel="stylesheet" href="static/mainprofile/mainprofile.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
 <nav>
    <div class="top-box">
        <div class>
           <img src="static/mainprofile/Images/LOGO.jpeg" alt="logo" width="177px">
        </div> 
       
           <p>Find a mentor</p>
            <p>become a mentor</p>
            <p>About us</p>
         
        
        <div class="search-bar1">
            <input type="text" name="search" placeholder="search">
        </div> 
        <div class="login-bt">
            <button type="button"><a href="/login.html">Logout</a></button>
        </div>
    </div>
 </nav>  
    <!-- Body -->  
    <div class="top">
        <img src="static/mainprofile/Images/bg.png" alt="Back ground Image" width="100%" > 
        <img src="static/mainprofile/Images/E22.png" alt="Main Image" id="img">  
        <H2 class="name">Subikshaa S</H2>  
        <img src="static/mainprofile/Images/Group 45.png" alt="share" id="img1">  
        <h3 id="pos">Software Engineer at Ducen</h3>  
        <div class="loc">
            <img src="static/mainprofile/Images/icon _location on_.png" alt="Location-icon" width="20.11px" height="26.2px">
            <span>Kochin</span> 
        </div>
        <h4 class="lag">Tamil | English | Japnese </h4>  
        <p class="join">Joined November, 2019</p> 
        <div class="btn">
            <a href="https://wa.me/message/XJF43PG536Y5K1"  target="_blank"> 
            <button>
              Book Session
             <span><img src="static/mainprofile/Images/whatsapp circle.png" alt="whatsapp-logo" width="31px" height="31px" class="wh"></span>
            </button> 
            </a>
        </div> 
    </div>  
    <!-- Review bar --> 
    <div class="rev">
        <h2 class="r">Reviews</h2> 
     <div class="rev1"> 
            <img src="static/mainprofile/Images/Ellipse 20.png" alt="user" height="86px" class="user1"> 
        <div class="text">
            <h3 class="nam">Surya K</h3> 
            <h4>KCT,Chennai</h4> 
            <p>Awesome session. Surya shared some really valuable insights and gave impulses that helped me get clarity - while also just being a great sounding board for my own thoughts.</p>
        </div> 
    </div>
        <div class="rev2">
            <img src="static/mainprofile/Images/Ellipse 19.png" alt="user" height="86px" class="user1">
            <div class="text1">
                <h3 >Elis M</h3> 
                <h4 class="nam">KCC,Chennai</h4> 
                <p>It was really great session with Foti! He answered my questions and gave me great advice. Thank you, Foti!</p>
            </div> 
        </div>    
    </div> 
     <!-- End of review -->   
     <div class="desc"> 
        <h2 class="d">Description</h2> 
        <p class="desc-name">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id. Praesent lorem orci, mattis non efficitur id, ultricies vel nibh. Sed volutpat lacus vitae gravida viverra. Fusce vel tempor elit. Proin tempus, magna id scelerisque vestibulum, nulla ex pharetra sapien, tempor posue.</p>
     </div> 
     <!-- End of Description -->  
     <div class="exp"> 
        <h2 class="d">Experience</h2> 
         <div class="ex1"> 
            <img src="static/mainprofile/Images/image 3.png" alt="company-logo" width="100px" class="ex-img"> 
            <div class="ex11">
            <h2><b>BCG Group</b></h2> 
            <p>At BCG  I am responsible for creating and managing the execution of customer acquisition, engagement and retention strategies.</p>
            <h5>Jan 2021 - Jun 2022</h5> 
            </div>
         </div> 
         <div class="ex2"> 
            <img src="static/mainprofile/Images/image 4.png" alt="company-logo" width="100px" class="ex-img"> 
            <div class="ex12">
                <h2><b>TCS</b></h2> 
                <p>At TCS  I am responsible for creating and managing the execution of customer acquisition, engagement and retention strategies.</p>
                <h5>Mar 2019 - Dec 2020</h5> 
            </div>
         </div>
     </div>  
     <!-- end of experience --> 
     <div class="ed"> 
        <h2 class="d">Education</h2> 
        <div class="ed1">
            <ul>
                <li><h3>IIT Madras</h3></li> 
                <p>Bachelor of  Computer Science Engineering</p> 
                <h5>May 2016 - Aug 2019</h5>
            </ul>
        </div> 
        <div class="ed2">
            <ul>
                <li><h3>RVS Hr sec school</h3></li> 
                <p>Higher Education</p> 
                <h5>May 2014 - Aug 2016</h5>
            </ul>
        </div>
     </div> 
     <!-- End of Education --> 
     <div class="you">
        <h2 class="d">Youtube Testimonials:</h2>  
        <div class="vd"> 
            <iframe id="u"width="660" height="360" src="https://www.youtube-nocookie.com/embed/zYierUhIFNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
     </div>
     <div class="button">
        <a href="https://wa.me/message/XJF43PG536Y5K1"  target="_blank"> 
     <button> 
       
        Book Session
       <span><img src="static/mainprofile/Images/whatsapp circle.png" alt="whatsapp-logo" width="31px" height="31px" class="wh" ></span>
    
      </button>
    </a>
    </div> 
 </body>
</html>