<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Main profile</title> 
        <link rel="stylesheet" href="static/mainprofile/mainprofile.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
<body>
 <nav>
    <div class="top-box">
        <div class>
           <img src="static/mainprofile/Images/LOGO.jpeg" alt="logo" width="177px">
        </div> 
       
           <p>Find a mentor</p>
           <p>become a mentor</p>
           <p>About us</p>
         
        
        <div class="search-bar1">
            <input type="text" name="search" placeholder="search">
        </div> 
        <div class="login-bt">
            <button type="button"><a href="/login.html">Logout</a></button>
        </div>
    </div>
 </nav>  
    <!-- Body -->  
    <div class="top">
        <img src="static/mainprofile/Images/bg.png" alt="Back ground Image" width="100%" > 
        <img src="static/mainprofile/Images/Ellipse 20.png" alt="Main Image" id="img">  
        <h2 class="name">Sanjay Kumar S</h2>  
        <img src="static/mainprofile/Images/Group 45.png" alt="share" id="img1">  
        <h3 id="pos">‎ ‎ ‎ ‎ Web-Developer at Google</h3>  
        <s>
        <div class="su">
        <div class="loc" >
            
            <img src="static/mainprofile/Images/icon _location on_.png" alt="Location-icon" width="20.11px" height="26.2px">
            <span>Chennai</span> 
        </div>
        <h4 class="lag">Tamil | English | Telugu</h4>  
        <p class="join">Joined August, 2018</p> 
    </div>
        <div class="btn">
            <a href="https://wa.me/message/XJF43PG536Y5K1"  target="_blank"> 
            <button>
              Book Session
             <span><img src="static/mainprofile/Images/whatsapp circle.png" alt="whatsapp-logo" width="31px" height="31px" class="wh"></span>
            </button> 
            </a>
        </div> 
    </div>  
    <!-- Review bar --> 
    <div class="rev">
        <h2 class="r">Reviews</h2> 
     <div class="rev1"> 
            <img src="static/mainprofile/Images/Ellipse 20.png" alt="user" height="86px" class="user1"> 
        <div class="text">
            <h3 class="nam">Surya K</h3> 
            <h4>KCT,Chennai</h4> 
            <p>Awesome session. Surya shared some really valuable insights and gave impulses that helped me get clarity - while also just being a great sounding board for my own thoughts.</p>
        </div> 
    </div>
        <div class="rev2">
            <img src="static/mainprofile/Images/Ellipse 19.png" alt="user" height="86px" class="user1">
            <div class="text1">
                <h3 >Elis M</h3> 
                <h4 class="nam">KCC,Chennai</h4> 
                <p>It was really great session with Foti! He answered my questions and gave me great advice. Thank you, Foti!</p>
            </div> 
        </div>    
    </div> 
     <!-- End of review -->   
     <div class="desc"> 
        <h2 class="d">Description</h2> 
        <p class="desc-name">A software developer at Google is responsible for designing, developing, and maintaining software applications and systems. They work closely with cross-functional teams, including product managers, designers, and other engineers to create high-quality software that meets the needs of users and aligns with Google’s business goals. A software developer at Google is expected to have strong technical skills in areas such as programming languages, algorithms, and data structures. They should also have excellent problem-solving skills and be able to work collaboratively in a team environment. Google’s software developers are encouraged to stay up-to-date with the latest technologies and trends in the industry to ensure that the company’s products remain competitive in the market.</p>
    </div> 
     <!-- End of Description -->  
     <div class="exp"> 
        <h2 class="d">Experience</h2> 
         <div class="ex1"> 
            <img src="static/mainprofile/Images/image 3.png" alt="company-logo" width="100px" class="ex-img"> 
            <div class="ex11">
            <h2><b>BCG Group</b></h2> 
            <p>At BCG  I am responsible for creating and managing the execution of customer acquisition, engagement and retention strategies.</p>
            <h5>Jan 2021 - Jun 2022</h5> 
            </div>
         </div> 
         <div class="ex2"> 
            <img src="static/mainprofile/Images/image 4.png" alt="company-logo" width="100px" class="ex-img"> 
            <div class="ex12">
                <h2><b>TCS</b></h2> 
                <p>At TCS  I am responsible for creating and managing the execution of customer acquisition, engagement and retention strategies.</p>
                <h5>Mar 2019 - Dec 2020</h5> 
            </div>
         </div>
     </div>  
     <!-- end of experience --> 
     <div class="ed"> 
        <h2 class="d">Education</h2> 
        <div class="ed1">
            <ul>
                <li><h3>IIT Madras</h3></li> 
                <p>Bachelor of  Computer Science Engineering</p> 
                <h5>May 2016 - Aug 2019</h5>
            </ul>
        </div> 
        <div class="ed2">
            <ul>
                <li><h3>RVS Hr sec school</h3></li> 
                <p>Higher Education</p> 
                <h5>May 2014 - Aug 2016</h5>
            </ul>
        </div>
     </div> 
     <!-- End of Education --> 
     <div class="you">
        <h2 class="d">Youtube Testimonials:</h2>  
        <div class="vd"> 
            <iframe id="u"width="660" height="360" src="https://www.youtube-nocookie.com/embed/zYierUhIFNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
     </div>
     <div class="button">
        <a href="https://wa.me/message/XJF43PG536Y5K1"  target="_blank"> 
     <button> 
       
        Book Session
       <span><img src="static/mainprofile/Images/whatsapp circle.png" alt="whatsapp-logo" width="31px" height="31px" class="wh" ></span>
    
      </button>
    </a>
    </div> 
 </body>
</html>