<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="\static\profile\Profile.css">

</head>
<body>
    
    <form method="POST">
        <div class="box-overlay">
            
        <div class="sign-up">
            <h1>Create Profile</h1>
        </div>
        <br>
        <div class="container">	
            <form name="registration_form" id="registration_form"  enctype="multipart/form-data" >
            <div class="row">
          
            <div class="col-sm-4">
                
            <div class="uname">
                  <label for="name" >Full name</label>
                  <input type="text" name="name" id="name" placeholder="Full name">
            </div>
            <div class="user">
                <label for="email" >Email</label>
                <input type="email" name="email" id="email"  placeholder="Enter your email">
            </div>
            <div class="ed">       
              <label for="designation">Designation:</label>
              <input type="text" id="designation" name="designation" placeholder="Designation"required>
            </div>
            
            <div class="ed">       
              <label for="work_location">Working Location:</label>
              <input type="text" id="work_location" name="work_location" placeholder="Working Location"required>
            </div>
            <div class="ed">       
                <label for="education">Education:</label>
                <input type="text" id="education" name="education" placeholder="Eductaion"required>
            </div>
           
            <p><label for="description">Description:</label></p>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="description"> </textarea> 

            <div class="yt_link"> 
              <label for="youtube_link">YouTube Link:</label>
              <input type="text" id="youtube_link" name="youtube_link">
            </div>
            <div class="yt_link"> 
              <label for="linkedin_link">linkedin Link:</label>
              <input type="text" id="linkedin_link" name="linkedin_link">
            </div>
            <!--
            <div class="ed">       
              <label for="date">Date of Birth:</label>
              <input type="date" id="date" name="date"  >
            </div> 
            -->
            <label for="avatar">Choose a profile picture:</label><br>
            <input type="file" name="avatar"  accept="image/png, image/jpeg"> 
         
            <div class="login-btn">
              <button type="submit" id="login" name="login1">Create Profile</button></a>
            </div>
        </form>
      </div>
    </div>
  </form>
    </div>
    
</body> 
        <!--
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-analytics.js";
    import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, signOut } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCUBqz7PlQi3j3hOL08Nfc8QYCwyN4bwKA",
      authDomain: "find-the-expert-9999e.firebaseapp.com",
      projectId: "find-the-expert-9999e",
      storageBucket: "find-the-expert-9999e.appspot.com",
      messagingSenderId: "646241035804",
      appId: "1:646241035804:web:c73bc59d7d369a1eae21d9",
      measurementId: "G-V093DJ4JVX"
    };
   
          // Initialize Firebase
          const app = initializeApp(firebaseConfig);
          const analytics = getAnalytics(app);
          
          const auth = getAuth();
          
         //----- New Registration code start	  
        document.getElementById("login").addEventListener("click", function() {
            var email =  document.getElementById("email").value;
            var password = document.getElementById("password").value;
            //For new registration
            createUserWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
              // Signed in 
              const user = userCredential.user;
              console.log(user);
              alert("Registration successfully!!");
              // ...
            })
            .catch((error) => {
              const errorCode = error.code;
              const errorMessage = error.message;
              // ..
              console.log(errorMessage);
              alert(error);
            });		  		  
        });
        */
        //----- End
           /* //----- Login code start	  
        document.getElementById("login").addEventListener("click", function() {
            var email =  document.getElementById("email").value;
            var password = document.getElementById("password").value;
  
            signInWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
              // Signed in 
              const user = userCredential.user;
              console.log(user);
              alert(user.email+" Login successfully!!!");
              document.getElementById('logout').style.display = 'block';
              // ...
            })
            .catch((error) => {
              const errorCode = error.code;
              const errorMessage = error.message;
              console.log(errorMessage);
              alert(errorMessage);
            });		  		  
        });
        //----- End*/
  
        //----- Logout code start	  
        document.getElementById("logout").addEventListener("click", function() {
            signOut(auth).then(() => {
                // Sign-out successful.
                console.log('Sign-out successful.');
                alert('Sign-out successful.');
                document.getElementById('logout').style.display = 'none';
              }).catch((error) => {
                // An error happened.
                console.log('An error happened.');
              });		  		  
        });
        //----- End
        </script>
        -->
       
</html>