<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/search/search.css">

</head>
<body>
    <!-- top box -->
    <div class="top-box">
        <div >
           <a href="home1.html"><img src="/static/search/images/LOGO.jpeg" alt="logo" width="177px"></a>
        </div>
           <a href="search.html"><h4><b>Find a mentor</b></h4></a>
           <a href="profile.html"><span><b>become a mentor</b></span></a>
           <a href="#"><span><b>About us</b></span></a>
        <div class="search-bar1">
            <input type="text" name="search" placeholder="search">
        </div> 
        <div class="login-bt">
            <button type="button"><a href="/login.html">Logout</a></button>
        </div>
    </div>
    <!-- top box 1-->
    <div class="top-box1">
        <div>
        <label for="name" class="uf">Search mentors</label>
        <input type="text" name="name" placeholder="Search mentors">
        </div>
        <div class="dropdown">
            <button class="dropbtn">Experience</button>
            <div class="dropdown-content">
            <a href="#">0-2 year</a>
            <a href="#">2-4 year</a>
            <a href="#">4+ year</a>
            </div>
        </div>
        <div class="dropdown1">
            <button class="dropbtn">Level</button>
            <div class="dropdown-content1">
            <a href="#">Advanced</a>
            <a href="#">Intermediate</a>
            <a href="#">Beginner</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn">Sort By</button>
            <div class="dropdown-content2">
            <a href="#">Ratings</a>
            <a href="#">Cost</a>
            <a href="#">Sessions</a>
            </div>
        </div>
    </div>
    <!--middle-box-->
    <div class="middle-box">
      <a href="/mainprofile.html">
          <div class="card">
            
             <div class="pic">
                <img src="/static/search/images/Ellipse 18.png" alt="profile-pic" width="148px">
             </div>  
               <div class="name-head">
                <div class="name1">Suresh Kumar K </div> 
                <div class="img1">
                    <img src="/static/search/images/icon _location on_.png" alt="_location" width="16px" height="24px">
                </div>
                <span class="city"><p>Salem</p></span>
                <div class="img2">
                    <img src="/static/search/images/work-logo.png" alt="icon work-logo" width="16px">
                </div>  
                <span class="pos">
                    <p>Product Designer - Miro</p>
                </span>
               </div> 
              <div class="chips-1">
                <p class="figma">Figma</p>
              </div> 
              <div class="chips-2">
                <p class="xd">Adobe</p>
              </div>
              <div class="chips-3">
                <p class="miro">Miro</p>
              </div>
          </div>
        </a>
        <!--car 1-->
        <a href="/mainprofile2.html">
         <div class="card2">
            <div class="pic">
               <img src="/static/search/images/E19.png" alt="profile-pic" width="148px">
            </div>  

              <div class="name-head">
               <div class="name1">Sanjay Kumar S</div> 
               <div class="img1">
                   <img src="/static/search/images/icon _location on_.png" alt="_location" width="16px" height="24px">
               </div>
               <span class="city"><p>Chennai</p></span>
               <div class="img2">
                   <img src="/static/search/images/work-logo.png" alt="icon work-logo" width="16px">
               </div>  
               <span class="pos">
                   <p>Web-Developer - TCS</p>
               </span>
              </div> 
             <div class="chips-1">
               <p class="figma">Python</p>
             </div> 
             <div class="chips-2">
               <p class="xd">Mysql</p>
             </div>
             <div class="chips-3">
               <p class="miro">JAVA</p>
             </div>
         </div>
        </a>
        <a href="/mainprofile3.html"> 
        <div class="card3">
            <div class="pic">
               <img src="/static/search/images/E23.png" alt="profile-pic" width="148px">
            </div>  
              <div class="name-head">
               <div class="name1">Anu Priya K S</div> 
               <div class="img1">
                   <img src="/static/search/images/icon _location on_.png" alt="_location" width="16px" height="24px">
               </div>
               <span class="city"><p>Mumbai</p></span>
               <div class="img2">
                   <img src="/static/search/images/work-logo.png" alt="icon work-logo" width="16px">
               </div>  
               <span class="pos">
                   <p>Data Analyst - Freshworks</p>
               </span>
              </div> 
             <div class="chips-1">
               <p class="figma">Numpy</p>
             </div> 
             <div class="chips-2">
               <p class="xd">Python</p>
             </div>
             <div class="chips-3">
               <p class="miro">Excel</p>
             </div>
         </div>
        </a>
         <!--card4-->
         <a href="/mainprofile4.html">
         <div class="card4">
            <div class="pic">
               <img src="/static/search/images/E21.png" alt="profile-pic" width="148px">
            </div>  
              <div class="name-head">
               <div class="name1">Sarunesh Raj K</div> 
               <div class="img1">
                   <img src="/static/search/images/icon _location on_.png" alt="_location" width="16px" height="24px">
               </div>
               <span class="city"><p>Delhi</p></span>
               <div class="img2">
                   <img src="/static/search/images/work-logo.png" alt="icon work-logo" width="16px">
               </div>  
               <span class="pos">
                   <p>UI/UX designer</p>
               </span>
              </div> 
             <div class="chips-1">
               <p class="figma">Figma</p>
             </div> 
             <div class="chips-2">
               <p class="xd">Adobe</p>
             </div>
             <div class="chips-3">
               <p class="miro">CSS</p>
             </div>
         </div>
        </a>
        <a href="/mainprofile5.html">
         <div class="card5">
            <div class="pic">
               <img src="/static/search/images/E22.png" alt="profile-pic" width="148px">
            </div>  
              <div class="name-head">
               <div class="name1">Subikshaa S</div> 
               <div class="img1">
                   <img src="/static/search/images/icon _location on_.png" alt="_location" width="16px" height="24px">
               </div>
               <span class="city"><p>Kochin</p></span>
               <div class="img2">
                   <img src="/static/search/images/work-logo.png" alt="icon work-logo" width="16px">
               </div>  
               <span class="pos">
                   <p>Software Engineer - Ducen</p>
               </span>
              </div> 
             <div class="chips-1">
               <p class="figma">OOPS</p>
             </div> 
             <div class="chips-2">
               <p class="xd">C++</p>
             </div>
             <div class="chips-3">
               <p class="miro">API</p>
             </div>
         </div>
        </a>
        <a href="/mainprofile6.html">
         <div class="card6">
            <div class="pic">
               <img src="/static/search/images/E20.png" alt="profile-pic" width="148px">
            </div>  
              <div class="name-head">
               <div class="name1">Rohit Kumar R</div> 
               <div class="img1">
                   <img src="/static/search/images/icon _location on_.png" alt="_location" width="16px" height="24px">
               </div>
               <span class="city"><p>Pune</p></span>
               <div class="img2">
                   <img src="/static/search/images/work-logo.png" alt="icon work-logo" width="16px">
               </div>  
               <span class="pos">
                   <p>Cyber Forensics - Saptanglabs</p>
               </span>
              </div> 
             <div class="chips-1">
               <p class="figma">Linux</p>
             </div> 
             <div class="chips-2">
               <p class="xd">WShell</p>
             </div>
             <div class="chips-3">
               <p class="miro">script</p>
             </div>
         </div>
        </a>
     </div>
    <!-- bottom box-->
    <div class="bottom-box">

        <div class="log">
            <img src="/static/search/images/LOGO.jpeg" alt="logo" width="227px">
        </div>
        <p class="p">Our goal is to fulfill the customers needs by making them  satisfied.</p>
        <p class="ab">About us</p>
        <ul class="l1">
            <li><a href="/">About us</a></li>
            <li><a href="/">Features</a></li>
            <li><a href="/">Careers</a></li>
        </ul>
        <p class="ab1">Company</p>
        <ul class="l2">
            <li><a href="/">Our_team</a></li>
            <li><a href="/">Faq</a></li>
            <li><a href="/">Blog</a></li>
        </ul>
        <p class="ab2">Support</p>
        <ul class="l3">
            <li><a href="/">Contact_us</a></li>
            <li><a href="/">Feedback</a></li>
            <li><a href="/">Support_center</a></li>
        </ul>
     <div class="cp">
        <p class="cpp">Copyright ,Find  The Expert 2023, All rights reserved.</p>
     </div>
     <p class="link">Links</p>
     <span class="links">
        <img src="/static/search/images/732b1c4e-2205-4fa5-8e88-d020fe735902.jpg" alt="1" width="32px">
        <img src="/static/search/images/853a921c-6a08-4295-b3c9-bf5c860213cc.jpg" alt="2"  width="32px">
        <img src="/static/search/images/93f6b933-a358-400d-a608-d05d6f1a8d47.jpg" alt="3"  width="32px">
        <img src="/static/search/images/df8c69a9-a0e9-4f58-989e-6aa626a4d0d8.jpg" alt="4" width="32px">
    </span>
    </div>

</body>
</html>
